chromadb
fonttools>=4.43.0  # SNYK-PYTHON-FONTTOOLS-6133203
gpt4all
langchain>=0.0.225
llama-cpp-python
matplotlib
numpy>=1.22.2  # SNYK-PYTHON-NUMPY-2321964
pyzotero
requests
sympy>=1.12  # SNYK-PYTHON-SYMPY-6084333
tinyscript>=1.28.6
tqdm
xlsxwriter
pillow>=10.0.1 # fixed with tinyscript>=1.28.6 ; asciistuff>=1.2.6
